/*CSS commments are different than html comments*/
/*NO html here */

body {
    background-color: beige;
    text-align: center;

    /* Add font family here and to #ohana */
    font-family: 'Courier New', Courier, monospace;
}

/* add class small-caps to replace h2,h3*/
/* h2, h3 { font-variant: small-caps;}  */

.small-caps {
    font-variant: small-caps;
}

/* added to second section "ohana means family */
/* add font family to disaply in Dev tools */
#ohana {
    background-color: lavender;
    padding: 15px;
    font-family: Arial;
}

main{
        border: 1px solid blue;
        width: 50%;
        margin: auto;
        border-radius: 3px;
        box-shadow: 2px 5px 5px grey;
}


nav, footer {
    background-color:lightgrey;
}



a {
    text-decoration: none;

}

a:link,
a:visited {
    color: darkblue;
}

a:hover {
    background-color: purple;
    color: beige;
}

section {
    border-top: 2px double lightgrey;
}

header {
    background-color: darkblue;
    color:white;
}


/*  Dev tools

    * body - change position on the index page and see cross outs

    * #ohana conflict with font-family
 */